## Introduction to Python Exercises

Before you turn this problem in, make sure everything runs as expected. First, restart the kernel (in the menubar, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).  You can speak with others regarding the assignment but all work must be your own. 


### This is a 30 point assignment graded from answers to questions and automated tests that should be run at the bottom. Be sure to clearly label all of your answers and commit final tests at the end. If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation. (Note, not all questions have tests).

In [119]:
NAME = "Nick Esposito"
COLLABORATORS = ["Christian Kapp"]  #You can speak with others regarding the assignment, but all typed work must be your own.

In [120]:
# If you have trouble loading your unittests below, 
#!conda config --add channels conda-forge

In [121]:
#!conda install --yes ipython_unittest

### This Loads a Testing Array 
- This runs tests against your b array.  If you complete the assingment correctly, you will pass the tests. 
- **If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation.**

In [122]:
%load_ext ipython_unittest
#This runs tests against your b array.  If you complete the assingment correctly, you will pass the tests.

The ipython_unittest extension is already loaded. To reload it, use:
  %reload_ext ipython_unittest

## Exercises - For and If.

(1). Write a program which create a list called `fivetoten` of all numbers from 5 to 10 (inclusive).

In [123]:
fivetoten = [5,6,7,8,9,10]
print(fivetoten)

[5, 6, 7, 8, 9, 10]

(2). Write a program which uses a for loop and if statements to create a list called `divby7` of all numbers from 1-50 that are divisible by 7.
Hint: 14 is divisible by 7 if 14%7==0.

In [124]:
divby7 = [i for i in range(1,50,1) if i % 7 == 0]
print(divby7)

[7, 14, 21, 28, 35, 42, 49]

(3). Write a program which uses a for loop and if statements create a list `divby7not5` of all numbers which are divisible by 7 but are not a multiple of 5, between 10000 and 10100 (both included).

In [125]:
divby7not5 = [i for i in range(10000,10100,1) if i % 7 == 0 and i % 5 > 0]
print(divby7not5)

[10003, 10017, 10024, 10031, 10038, 10052, 10059, 10066, 10073, 10087, 10094]

## Exercises - Functions


(4). Create a function `divby2` that accepts a list and returns all values from that list that are divisible by 2.  For example, passing the list  `numbers = [3, 12, 91, 33, 21, 34, 54, 34, 34, 54]` should return a list. Generate a new list `divby2` that includes only numbers that are divisible by 2.

In [126]:
def divby2(n):
    n = [i for i in n if i % 2 == 0]
    return n

In [127]:
#Execute this code to assign divby2 to the correct values. 
numbers = [3, 12, 91, 33, 21, 34, 54, 34, 34, 54]
divby2=divby2(numbers)
print(divby2)

[12, 34, 54, 34, 34, 54]

(5) Create an external module for your `divby2` function called `myutilities.py`.  Import myutilities as mu, such that that following runs.

In [128]:
#After importing this should work. (Feel free to add code to reimport)
import myutilities as mu
divby2mod=mu.divby2(numbers)

## Exercises-Titanic

The following exercises will use the titanic data from Kaggle.  I've included it in the input folder just like Kaggle.

In [129]:
import numpy as np 
import pandas as pd 

# Input data files are available in the "../input/" directory.
# Let's input them into a Pandas DataFrame
train = pd.read_csv("../input/train.csv")
test  = pd.read_csv("../input/test.csv")

train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S



(6). While we can submit our answer to Kaggle to see how it will perform, we can also utilize our test data to assess accuracy. Accuracy is the percentage of predictions made correctly-i.e., the percentage of people in which our prediction regarding their survival. <br>Create columns in the training dataset `PredEveryoneDies` and `PredGender` with the same predictions which were included in the example notebook (06-intro-kaggle-baseline in the materials repository).

In [130]:
test["PredEveryoneDies"] = 0
submission = test.loc[:,["PassengerId", "PredEveryoneDies"]]
submission.head()

   PassengerId  PredEveryoneDies
0          892                 0
1          893                 0
2          894                 0
3          895                 0
4          896                 0

In [131]:
train["PredEveryoneDies"] = 0
submission = train.loc[:,["PassengerId", "PredEveryoneDies"]]
train.loc[train["Sex"] == 'male', 'PredGender'] = 0
train.loc[train["Sex"] == 'female', 'PredGender'] = 1
train.PredEveryoneDies.astype
train.PredGender.astype(int)

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    1
864    0
865    1
866    1
867    0
868    0
869    0
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    1
883    0
884    0
885    1
886    0
887    1
888    1
889    0
890    0
Name: PredGender, Length: 891, dtype: int32

In [132]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PredEveryoneDies,PredGender
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,1.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0.0

(7) Create variables `AccEveryoneDies` and `AccGender` using a calculation of accuracy of predictions for the `training` dataset.

In [133]:
train.loc[train["Survived"] == 0, 'AccEveryoneDies'] = 1
train.loc[train["Survived"] == 1, 'AccEveryoneDies'] = 0
train.head()

trainstats=train.describe()
trainstats
count = 891

In [134]:
totaldied = train.loc[:,['AccEveryoneDies']] 
AccEveryoneDies = (np.sum(totaldied) / count) * 100
AccEveryoneDies = AccEveryoneDies[0]
print(AccEveryoneDies)
print(type(AccEveryoneDies))

61.6161616162
<class 'numpy.float64'>

In [135]:
train.loc[train["Sex"] == 'male', "PredGender"] = 0
train.loc[train["Sex"] == 'female', "PredGender"] = 1

train.loc[train["Survived"] == train["PredGender"], 'AccGender'] = 1
train.loc[train["Survived"] != train["PredGender"], 'AccGender'] = 0
train

totalfemale = train.loc[:,['AccGender']]
AccGender = (np.sum(totalfemale) / count) * 100
AccGender = AccGender[0]
print(AccGender)
print(type(AccGender))

78.6756453423
<class 'numpy.float64'>

(8). Notice how we are utilizing the code to select out the `passengerID` and the `Survived` column and generating a submission file over and over? This is in need of a function.  Create a `generate_submission` function that accepts a DataFrame, a target column, and a filename and writes out the submission file with just the `passengerID` and the `Survived` columns, where the survived column is equal to the target column. It should then return a DataFrame with the `passengerID` and the `Survived` columns.

Executeing the following:
`submitdie = generate_submission(train, 'PredEveryoneDies', 'submiteveryonedies.csv')`

Should return a dataframe with just `passengerID` and the `Survived` column.

In [136]:
def generate_submission(df, col, file):
    submission = df.loc[:, ['PassengerId', col]]
    submission.rename(columns={col: 'Survived'}, inplace=True)
    submission.to_csv(file, index=False)
    return submission

submitdie = generate_submission(test, 'PredEveryoneDies', 'submiteveryonedies.csv')


(9). In accordance to the [women and children first](https://en.wikipedia.org/wiki/Women_and_children_first) protocol, we hypothesize that our model could be improved by including whether the individual was a child in addition to gender.  *After* coding survival based on gender, update your recommendation to prediction in the training dataset survival based on age. <br> <br>

In other words, your model should predict that a male child would survive.  

`train['PredGenderAge13']` should be the prediction incorporating both Gender and whether Age <  13.
`train['PredGenderAge18']` should be the prediction incorporating both Gender and whether Age <  18.
`AccGenderAge13` should be the accuracy of the age prediction, based on `train['PredGenderAge13']`. 
`AccGenderAge18` should be the accuracy of the age prediction, based on `train['PredGenderAge18']`.

In [137]:
train.loc[train["Sex"] == 'male',  "PredGenderAge13"] = 0
train.loc[train["Sex"] == 'female', "PredGenderAge13"] = 1
train.loc[train["Age"] < 13, "PredGenderAge13"] = 1

train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PredEveryoneDies,PredGender,AccEveryoneDies,AccGender,PredGenderAge13
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0.0,1.0,1.0,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1.0,0.0,1.0,1.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1.0,0.0,1.0,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,1.0,0.0,1.0,1.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0.0,1.0,1.0,0.0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,0.0,1.0,1.0,0.0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,0.0,1.0,1.0,0.0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,0,0.0,1.0,1.0,1.0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,0,1.0,0.0,1.0,1.0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,0,1.0,0.0,1.0,1.0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,0,1.0,0.0,1.0,1.0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0,1.0,0.0,1.0,1.0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0,0.0,1.0,1.0,0.0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0,0.0,1.0,1.0,0.0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,0,1.0,1.0,0.0,1.0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,0,1.0,0.0,1.0,1.0
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,0,0.0,1.0,1.0,1.0
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,0,0.0,0.0,0.0,0.0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,0,1.0,1.0,0.0,1.0
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0,1.0,0.0,1.0,1.0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,0,0.0,1.0,1.0,0.0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,0,0.0,0.0,0.0,0.0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,0,1.0,0.0,1.0,1.0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0,0.0,0.0,0.0,0.0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,0,1.0,1.0,0.0,1.0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,0,1.0,0.0,1.0,1.0
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0,0.0,1.0,1.0,0.0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0,0.0,1.0,1.0,0.0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,0,1.0,0.0,1.0,1.0
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,0,0.0,1.0,1.0,0.0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,0,1.0,0.0,1.0,1.0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,0,1.0,1.0,0.0,1.0
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,0,0.0,1.0,1.0,0.0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,0,1.0,0.0,1.0,1.0
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,0,1.0,0.0,1.0,1.0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,0,0.0,1.0,1.0,0.0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,0,0.0,1.0,1.0,0.0
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,0,0.0,0.0,0.0,1.0
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,0,0.0,1.0,1.0,0.0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,0,1.0,0.0,1.0,1.0
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0,0.0,1.0,1.0,0.0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,0,0.0,1.0,1.0,0.0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,0,1.0,0.0,1.0,1.0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,0,1.0,0.0,1.0,1.0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,0,0.0,1.0,1.0,0.0
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,0,0.0,1.0,1.0,0.0
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,0,0.0,1.0,1.0,0.0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,0,1.0,0.0,1.0,1.0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,0,1.0,0.0,1.0,1.0
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,0,0.0,1.0,1.0,0.0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,0,1.0,1.0,0.0,1.0
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0,0.0,1.0,1.0,0.0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0,0.0,1.0,1.0,0.0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,0,1.0,1.0,0.0,1.0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,0.0,1.0,1.0,0.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,1.0,0.0,1.0,1.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,1.0,1.0,0.0,1.0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,0.0,0.0,0.0,0.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,0.0,1.0,1.0,0.0

In [138]:
train.loc[train["Survived"] == train["PredGenderAge13"], 'AccGenderAge13'] = 1
train.loc[train["Survived"] != train["PredGenderAge13"], 'AccGenderAge13'] = 0
train

totalsurviving = train.loc[:,['AccGenderAge13']]
AccGenderAge13 = (np.sum(totalsurviving) / count) * 100
AccGenderAge13 = AccGenderAge13[0]
print(AccGenderAge13)

79.2368125701

In [139]:
train.loc[train["Sex"] == 'male',  "PredGenderAge18"] = 0
train.loc[train["Sex"] == 'female', "PredGenderAge18"] = 1
train.loc[train["Age"] < 18, "PredGenderAge18"] = 1

train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PredEveryoneDies,PredGender,AccEveryoneDies,AccGender,PredGenderAge13,AccGenderAge13,PredGenderAge18
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,1.0,0.0,1.0,1.0,1.0,1.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1.0,0.0,1.0,1.0,1.0,1.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,1.0,0.0,1.0,1.0,1.0,1.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,0.0,1.0,1.0,0.0,1.0,0.0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,0.0,1.0,1.0,0.0,1.0,0.0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,0,0.0,1.0,1.0,1.0,0.0,1.0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,0,1.0,0.0,1.0,1.0,1.0,1.0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,0,1.0,0.0,1.0,1.0,1.0,1.0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,0,1.0,0.0,1.0,1.0,1.0,1.0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0,1.0,0.0,1.0,1.0,1.0,1.0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,0,1.0,1.0,0.0,1.0,0.0,1.0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,0,1.0,0.0,1.0,1.0,1.0,1.0
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,0,0.0,1.0,1.0,1.0,0.0,1.0
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,0,0.0,0.0,0.0,0.0,0.0,0.0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,0,1.0,1.0,0.0,1.0,0.0,1.0
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,0,1.0,0.0,1.0,1.0,1.0,1.0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,0,0.0,0.0,0.0,0.0,0.0,0.0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,0,1.0,0.0,1.0,1.0,1.0,1.0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,0,0.0,0.0,0.0,0.0,0.0,0.0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,0,1.0,1.0,0.0,1.0,0.0,1.0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,0,1.0,0.0,1.0,1.0,1.0,1.0
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0,0.0,1.0,1.0,0.0,1.0,0.0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0,0.0,1.0,1.0,0.0,1.0,0.0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,0,1.0,0.0,1.0,1.0,1.0,1.0
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,0,1.0,0.0,1.0,1.0,1.0,1.0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,0,1.0,1.0,0.0,1.0,0.0,1.0
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,0,1.0,0.0,1.0,1.0,1.0,1.0
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,0,1.0,0.0,1.0,1.0,1.0,1.0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,0,0.0,1.0,1.0,0.0,1.0,0.0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,0,0.0,0.0,0.0,1.0,1.0,1.0
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,0,1.0,0.0,1.0,1.0,1.0,1.0
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,0,0.0,1.0,1.0,0.0,1.0,0.0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,0,1.0,0.0,1.0,1.0,1.0,1.0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,0,1.0,0.0,1.0,1.0,1.0,1.0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,0,1.0,0.0,1.0,1.0,1.0,1.0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,0,1.0,0.0,1.0,1.0,1.0,1.0
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,0,1.0,1.0,0.0,1.0,0.0,1.0
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,0,1.0,1.0,0.0,1.0,0.0,1.0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0,0.0,1.0,1.0,0.0,1.0,0.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,0,1.0,0.0,1.0,1.0,1.0,1.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,1.0,1.0,0.0,1.0,0.0,1.0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0,0.0,0.0,0.0,0.0,0.0,0.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0,0.0,1.0,1.0,0.0,1.0,0.0

In [140]:
train.loc[train["Survived"] == train["PredGenderAge18"], 'AccGenderAge18'] = 1
train.loc[train["Survived"] != train["PredGenderAge18"], 'AccGenderAge18'] = 0
train

totalsurviving = train.loc[:,['AccGenderAge18']]
AccGenderAge18 = (np.sum(totalsurviving) / count) * 100
AccGenderAge18 = AccGenderAge18[0]
print(AccGenderAge18)

77.3288439955

(10). Create a prediction file for the "women and children first" model in column` PredGenderAge13` and upload it to Kaggle.  Take a screen shot of your position. Put that screenshot in this repository and use markdown to show your results in the cell below.  The syntax for including a markdown picture is shown below.  

```
![]myscreenshot.png
```

# Picture

![](EveryoneDies.png)

(11). You should find that the AccGenderAge13 is better than AccGenderAge18. Create a new column `child` in the test and train DataFrames that is 1 if Age <  13 and 0 otherwise.  This is a *feature*.  We will talk more about features next time.

In [118]:
train.loc[train["Age"] < 13, "child"] = 1
train.loc[train["Age"] > 13, "child"] = 0

train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,PredEveryoneDies,PredGender,AccEveryoneDies,AccGender,PredGenderAge13,PredGenderAge18,AccGenderAge13,AccGenderAge18,child
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,C,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,...,Q,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,...,S,0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,...,C,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,...,S,0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,...,Q,0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,...,S,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,...,S,0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,...,C,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,NaN
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,...,S,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,...,Q,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,...,S,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,...,S,0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,...,C,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,...,Q,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,NaN
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,...,S,0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,...,C,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,...,S,0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,...,C,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,...,C,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,...,C,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,...,S,0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,...,Q,0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,...,S,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,...,S,0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,...,S,0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,...,C,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,...,Q,0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0

In [119]:
test.loc[test["Age"] < 13, "child"] = 1
test.loc[test["Age"] > 13, "child"] = 0
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,PredEveryoneDies,child
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,0.0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0,0.0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0,0.0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0,0.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0,0.0
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S,0,0.0
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q,0,0.0
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S,0,0.0
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C,0,0.0
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S,0,0.0
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S,0,NaN
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S,0,0.0
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S,0,0.0
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S,0,0.0
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S,0,0.0
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C,0,0.0
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q,0,0.0
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C,0,0.0
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S,0,0.0
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C,0,0.0
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C,0,0.0
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S,0,1.0
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S,0,NaN
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C,0,0.0
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,0,0.0
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S,0,0.0
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C,0,0.0
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C,0,0.0
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S,0,0.0
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q,0,0.0
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S,0,1.0
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S,0,0.0
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,0,0.0
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S,0,NaN
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S,0,0.0
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S,0,0.0
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S,0,0.0
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q,0,0.0
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,0,0.0
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S,0,0.0
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q,0,0.0
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,0,0.0
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S,0,0.0
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C,0,0.0
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S,0,0.0
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,0,0.0
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C,0,0.0
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S,0,0.0
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,0,0.0
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q,0,NaN
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,0,1.0
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q,0,NaN
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,0,0.0
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S,0,0.0
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,0,NaN
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,0,0.0
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0,0.0
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,0,NaN
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,0,NaN

In [141]:
%%unittest_main
class TestExercise3(unittest.TestCase):
    def test_forif1(self):
        self.assertTrue(fivetoten == [5,6,7,8,9,10])
    def test_forif2(self):
        self.assertTrue(divby7 == [7,14,21,28,35,42,49])
    def test_forif(self):
        self.assertTrue(divby7not5 == [10003, 10017, 10024, 10031, 10038, 10052, 10059, 10066, 10073, 10087, 10094])
    def test_functions(self):
        self.assertTrue(divby2 == [12, 34, 54, 34, 34, 54])
    def test_functions(self):
        self.assertTrue(divby2mod == [12, 34, 54, 34, 34, 54])
    def test_titanic1(self):
        self.assertAlmostEqual(AccEveryoneDies, 61.6161616162)
    def test_titanic2(self):
        self.assertAlmostEqual(AccGender, 78.6756453423)
    def test_titanic3(self):
        self.assertAlmostEqual(train['PredEveryoneDies'].mean(), 0.0)
    def test_titanic4(self):
        self.assertAlmostEqual(train['PredGender'].mean(), 0.35241301908)
    def test_titanic5(self):
        self.assertTrue(['PassengerId', 'Survived']==list(pd.read_csv('submiteveryonedies.csv').columns.values))
    def test_titanic6(self):
        self.assertAlmostEqual(train['PredGenderAge13'].mean(), 0.393939393939)
    def test_titanic7(self):
        self.assertAlmostEqual(train['PredGenderAge18'].mean(), 0.417508417508)
    def test_titanic8(self):
        self.assertAlmostEqual(AccGenderAge13, 79.2368125701)
    def test_titanic9(self):
        self.assertAlmostEqual(AccGenderAge18, 77.3288439955)
    def test_titanic10(self):
        self.assertTrue(train['child'].sum()==69)
    def test_titanic11(self):
        self.assertTrue(test['child'].sum()==25)

Fail

.....EE........
======================================================================
ERROR: test_titanic10 (__main__.TestExercise3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 2442, in get_loc
    return self._engine.get_loc(key)
  File "pandas\_libs\index.pyx", line 132, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 154, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 1210, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 1218, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'child'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "Cell Tests", line 31, in test_titanic10
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\frame.py", line 1964, in __getitem__
    return self._getitem_column(key)
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\frame.py", line 1971, in _getitem_column
    return self._get_item_cache(key)
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\generic.py", line 1645, in _get_item_cache
    values = self._data.get(item)
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\internals.py", line 3590, in get
    loc = self.items.get_loc(item)
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 2444, in get_loc
    return self._engine.get_loc(self._maybe_cast_indexer(key))
  File "pandas\_libs\index.pyx", line 132, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 154, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 1210, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 1218, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'child'

======================================================================
ERROR: test_titanic11 (__main__.TestExercise3)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 2442, in get_loc
    return self._engine.get_loc(key)
  File "pandas\_libs\index.pyx", line 132, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 154, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 1210, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 1218, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'child'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "Cell Tests", line 33, in test_titanic11
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\frame.py", line 1964, in __getitem__
    return self._getitem_column(key)
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\frame.py", line 1971, in _getitem_column
    return self._get_item_cache(key)
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\generic.py", line 1645, in _get_item_cache
    values = self._data.get(item)
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\internals.py", line 3590, in get
    loc = self.items.get_loc(item)
  File "C:\Users\notre\Anaconda3\lib\site-packages\pandas\core\indexes\base.py", line 2444, in get_loc
    return self._engine.get_loc(self._maybe_cast_indexer(key))
  File "pandas\_libs\index.pyx", line 132, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\index.pyx", line 154, in pandas._libs.index.IndexEngine.get_loc
  File "pandas\_libs\hashtable_class_helper.pxi", line 1210, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas\_libs\hashtable_class_helper.pxi", line 1218, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'child'

----------------------------------------------------------------------
Ran 15 tests in 0.073s

FAILED (errors=2)

In [85]:
#This is a collection of all of the tests from the exercises above.